body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.barang, #keranjang {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #333;
}

.barang:hover, #keranjang:hover {
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#transaksi {
  margin-top: 20px;
}

input[type="number"], button {
  margin: 5px;
}

#total {
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
